.container {
    display: flex;
    gap: 4px;
    padding: 12px 16px;
    background: var(--msg-bot-bg);
    border-radius: 4px 16px 16px 16px;
    width: fit-content;
    backdrop-filter: blur(4px);
    margin-bottom: var(--spacing-md);
}